.clients>img{
    width: 80px;
    height: 80px;
    margin-left: 50px;
}
.clients{
    background-color: #f7f7fd;
    margin: 0 50px;
    padding-top: 40px;
    padding-bottom: 50px;
    border-radius: 40px;
    margin-bottom: 100px;
}
.clients-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.clients-text >div{
    font-size: 40px;
    font-weight: 500;
}
.clients-text>p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #525252;
}
.companies{
    display: flex;
    align-items: center;
    overflow: auto;
    margin-bottom: 20px;
    padding: 0 20px;
}
.company>img{
    height: 50px;
    margin-right: 120px;
}
.report{
    background-color: rgb(49,113, 222,1);
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    padding: 12px 30px;
    border-radius:20px;
    cursor: pointer;
}
.reviews-class{
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.snap{
    position: relative;
    margin-right: 50px;
}
.bg-img3>img{
    height: 544px;
    width: 100%;
}
.bg-img3{
    position: absolute;
    bottom: -80px;
    right: -50px;
    z-index: -1;
}
.bg-img4>img{
    
    height: 135px;
    width: 135px;
}
.bg-img4{
    position: absolute;
    top: 125px;
    left: -15px;
}
.description{
    padding-top: 50px;
    width: 560px;
    min-width: 350px;
}
.description>div{
    font-size: 40px;
    font-weight: 500;
}
.description>p{
    font-size: 20px;
    color: #525252;
    font-weight: 500;
}
.reviews{
    position: absolute;
    bottom: -330px;  
    left: 50px;
    right: 0;
    display: flex;
    overflow: auto;
}
.review1{
    background-color: white;
    min-width: 310px;
    padding: 30px 40px 0 30px;
    border-radius: 30px;
    border-style:solid;
    border-color: #F0F0F6;
    border-width: 1px;
    margin-right: 80px;
}
.review1>div{
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
}
.review1>p{
    color: #6E6C83;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.review-by{
    display: flex;
    align-items: center;
    line-height: 20px;
    border-top-style: solid;
    border-top-color: #DEDEE9;
    border-width: 2px;
    padding-top: 20px;
}
.review-by>img{
    margin-right: 20px;
}